@font-face { font-family: 'NotoSans'; font-display: swap; font-style: normal; font-weight: 100; src: local('NotoSans'), url('/assets/notosans-nerdfont-regular.ttf') }
html { font-family: 'NotoSans'; font-size: 14px; }
body { margin: 0; background: black; color: white; overflow: hidden; width: 100vw; height: 100vh; line-height: 1.5rem; }
label { vertical-align: baseline; padding: 0.5em 0 0 0.5em; }
input, textarea { font-family: 'NotoSans'; font-size: 14px; background: black; border: none; border-bottom: 1px solid darkmagenta; width: 400px; color: beige; margin: 0.5em }
.controls { display: flex; flex-direction: column; width: 410px; position: absolute; left: 0; }
.webcam { width: 640px; height: 480px; }
.media { display: flex; flex-direction: row; place-content: center; position: absolute; right: 0; }
.nvml { display: block; position: absolute; bottom: 0; font-size: 0.8em; line-height: 1em; color: beige; }
.fps { width: 200px; height: 100px; color: darkmagenta; font-size: 2em; position: absolute; bottom: 0; right: 0; }
